LUMA_API_KEY = ""

NEXT_PUBLIC_URL = ""

RESEND_API_KEY = ""
LUMA_WEBSITE_TAG = ""

DATABASE_URL = ""
DATABASE_SSL = "false"
ADMIN_PASSWORD = ""
AUTH_SECRET = ""

LOCAL_STORAGE_ROOT = ".local-storage"

S3_BUCKET = ""
S3_ENDPOINT = ""
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
AWS_REGION = "auto"

SUPABASE_DATABASE_URL = ""
SUPABASE_URL = ""
SUPABASE_SERVICE_ROLE_KEY = ""
