LUMA_API_KEY = ""
LUMA_WEBHOOK_SECRET = ""

NEXT_PUBLIC_URL = ""

RESEND_API_KEY = ""
LUMA_WEBSITE_TAG = ""

META_AD_ACCOUNT_ID = ""
META_ACCESS_TOKEN = ""
META_API_VERSION = "v23.0"

X_ADS_ACCOUNT_ID = ""
X_ADS_API_KEY = ""
X_ADS_API_SECRET = ""
X_ADS_ACCESS_TOKEN = ""
X_ADS_ACCESS_TOKEN_SECRET = ""
X_ADS_PIXEL_ID = ""
X_ADS_EVENT_ID = ""
X_ADS_API_VERSION = "12"
X_ADS_DRY_RUN = "false"

ADS_REPORTING_START_DATE = ""
ADS_SYNC_START_DATE = ""
ADS_EXCLUDED_PLATFORM_CAMPAIGN_IDS = ""
ADS_EXCLUDED_PLATFORM_AD_GROUP_IDS = ""
ADS_EXCLUDED_PLATFORM_AD_IDS = ""

DATABASE_URL = ""
DATABASE_SSL = "false"
ADMIN_PASSWORD = ""
AUTH_SECRET = ""

LOCAL_STORAGE_ROOT = ".local-storage"

S3_BUCKET = ""
S3_ENDPOINT = ""
AWS_ACCESS_KEY_ID = ""
AWS_SECRET_ACCESS_KEY = ""
AWS_REGION = "auto"

SUPABASE_DATABASE_URL = ""
SUPABASE_URL = ""
SUPABASE_SERVICE_ROLE_KEY = ""
